@{
    ViewBag.Title = "Lista de cursos disponíveis";
}

<h2>Cursos disponíveis</h2>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3 list-group-item-heading">
                <h4>Nome do curso</h4>
                <h5>Nome da instituição</h5>
            </div>
            <div class="col-md-8 list-group-item-text">
                <p class="text-info">Descrição curta sobre sobre os objetivos do curso.</p>
                <sub class="text-info">Vagas disponíveis: 000</sub>
            </div>
            <span class="tag tag-default tag-pill col-md-1 pull-right">0 no MEC</span>
        </div>
    </li>
</ul>
